<div class="pricing-container">
  <span class="features-badge">PRICING</span>
  <h2 class="pricing-title">Pricing Plan</h2>
  <p class="pricing-description">
    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
  </p>
  <div class="pricing-cards">
    <div class="pricing-card">
      <h3>Freelancer</h3>
      <p>All the basics for starting a new business</p>
      <div class="price">$24 <span>/mo</span></div>
      <ul>
        <li>Cras justo odio.</li>
        <li>Dapibus ac facilisis in.</li>
        <li>Morbi leo risus.</li>
        <li>Potenti felis, in cras ligula.</li>
      </ul>
      <button>Buy Freelancer</button>
    </div>
    <div class="pricing-card">
      <h3>Startup</h3>
      <p>All the basics for starting a new business</p>
      <div class="price">$32 <span>/mo</span></div>
      <ul>
        <li>Cras justo odio.</li>
        <li>Dapibus ac facilisis in.</li>
        <li>Morbi leo risus.</li>
        <li>Potenti felis, in cras ligula.</li>
      </ul>
      <button>Buy Startup</button>
    </div>
    <div class="pricing-card">
      <h3>Enterprise</h3>
      <p>All the basics for starting a new business</p>
      <div class="price">$48 <span>/mo</span></div>
      <ul>
        <li>Cras justo odio.</li>
        <li>Dapibus ac facilisis in.</li>
        <li>Morbi leo risus.</li>
        <li>Potenti felis, in cras ligula.</li>
      </ul>
      <button>Buy Enterprise</button>
    </div>
  </div>
</div>
