<div class="container">
  <header>
    <nav>
      <div class="logo"><img src="white-logo.svg" alt="Logo"></div>
      <ul>
        <li><a href="#" class="active" >Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Reviews</a></li>
      </ul>
      <button class="get-it-now">Get It Now</button>
    </nav>
  </header>
  <main>
    <section class="hero">
      <div class="content">
        <h1>Create Landing Page Easy, Super Fast</h1>
        <p>From open source to pro services, Piqes helps you to build, deploy, test, and monitor apps.</p>
        <form>
          <input type="email" placeholder="Your email address">
          <button type="submit">Start Free Trial</button>
        </form>
        How Appmeet works for you?
      </div>
      <div class="image">
        <img src="woman-image.png" alt="Person holding smartphone">


      </div>
    </section>
  </main>
</div>
